.depot_form { 
	fieldset {
		background: #efe;
		
		legend {
			color: #fff;
			background: #800; 
			font-family: sans-serif; 
			padding: 0.2em 1em;
		} 
  }

	form { 
		label {
			width: 5em;
			float: left; 
			text-align: right; 
			padding-top: 0.2em; 
			margin-right: 0.1em; 
			display: block;
		}
	  
	  select, textarea, input { 
	  	margin-left: 0.5em;
	  }
	  
	  .submit { 
	  	margin-left: 4em;
	  }

	  br {
	    display: none;
	  }   
  }
}

// banner auth
.auth{
  float: right;

  li{
  	float: left;
  	margin-right: 15px;

  	a:link, a:visited{
  		font-size: 18px;
  		font-weight: bold;
  		color: #000;
  		text-decoration: none;
  	}

  	a:hover{
  		color: #fff;
  		background: none;
  	}
  }
}

